html, body {
   margin: 0;
   padding: 0;
}
#outer {
   margin: 5em;
   border: 1px solid #f00;
}
#inner {
   width: 6em;
   height: 4em;
   background-color: #999;
}

p.p1 { 
  height: 20px; 
  left: 8px;
  position: relative; 
  top: 202px; 
  width: 150px;
}

p.p2 { 
  height: 20px; 
  left: 8px;
  position: relative; 
  top: 186px; 
  width: 150px; 
}

p.p3 { 
  height: 20px; 
  left: 8px;
  position: relative; 
  top: 170px; 
  width: 150px; 
}

p.p4 {   
  height: 20px; 
  left: 470px;
  position: relative; 
  top: 110px; 
  width: 150px; 
}

p.p5 { 
  height: 20px; 
  left: 470px;
  position: relative; 
  top: 94px; 
  width: 150px; 
}

p.p6 { 
  height: 20px; 
  left: 20px;
  position: relative; 
  top: 745px; 
  width: 150px; 
}

p.p7 {   
  height: 20px; 
  left: 460px;
  position: relative; 
  top: 711px; 
  width: 150px; 
}

p.p8 {  
  height: 20px; 
  left: 20px;
  position: relative; 
  top: 695px; 
  width: 200px; 
}

p.p9 { 
  height: 20px; 
  left: 460px;
  position: relative; 
  top: 660px; 
  width: 150px; 
}

.detalle {
  left: 4px;
  position: relative; 
  top: -50px; 
  width: 710px;
  border: 1px solid #000;
}
